@media(min-width: 992px){
    .nav{
        background-color: rgba($color: #000, $alpha: 0.75);
        
        &-mobile{
            display: none;
        }
        &-desktop{
            display: flex;
        }
    }
}