@media (min-width: 768px){
    .cream-block{
        height: 30px;
    }

    .header{
        height: 95vh;

        &__imgs{
            &-img__one{
                height: 350px;
            }
    
            &-img__two{
                height: 350px;
            }
        }

    }

    .contact{
        &__box{
            font-size: 2.8rem;

            
        i{
            font-size: 3.2rem;
        }

        .fa-square-facebook{
            font-size: 4.2rem;
        }
        }
    }
}