@media (min-width: 768px){
    .cream-block{
        height: 30px;
    }

    .header{
        height: 95vh;
        background-image: url('../img/food-2879265_1920.jpg');

        &__imgs{
            &-img__one{
                height: 350px;
            }
    
            &-img__two{
                height: 350px;
            }
        }

    }

    .contact{
        &__box{
            font-size: 2.8rem;

            
        i{
            font-size: 3.2rem;
        }

        .fa-square-facebook{
            font-size: 4.2rem;
        }
        }
    }

    .opinions{
    
        &__box{
    
            &-img{
                left: 30%;
            }
    
            &-container{
                width: 25em;
                padding: 2em;
                padding-top: 3.5em;
    
                .fa-quote-left{
                    font-size: 3.5rem;
                }
    
                &-text{
                    font-size: 2rem;
                }
    
                &-name{
                    font-size: 2.2rem;
                }
    
                &-stars{
                    font-size: 2rem;
                }
            }
        }
    }
}