@use '_colors' as *;

@mixin burgerBtn{
    position: absolute;
    content: '';
    height: 3px;
    background-color: $white;
    right: 0;
}

@mixin logo{
    position: relative;
    display: flex;
    font-size: 2.5rem;
    padding: 0.5em 0 0.4em 0;
    font-family: 'Kalam', cursive;
    color: $mainColor;
    text-transform: uppercase;
    font-weight: bold;

    .fa-paper-plane{
        margin: 0 0.5em;
    }
    
    
    &::after,
    &::before{
    position: absolute;
    content: '';
    height: 3px;
    width: 40%;
    background-color: $mainColor;
    left: 50%;
    transform: translateX(-50%);
    }

    &::before{
        top: 0;
    }

    &::after{
        bottom: 0;
    }
}

@mixin headerImg{
    width: 100%;
    height: 200px;
    object-fit: cover;
    box-shadow: 5px 8px 8px black;
}