.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.cream-block {
  position: absolute;
  width: 20%;
  height: 20px;
  background-color: #f1f0de;
  z-index: 100;
}
.cream-block__left {
  bottom: 0;
  transform: skew(45deg);
  left: -15px;
}
.cream-block__right {
  bottom: 0;
  transform: skew(-45deg);
  right: -15px;
}
.cream-block__left-top {
  top: 0;
  transform: skew(-45deg);
  left: -15px;
}
.cream-block__right-top {
  top: 0;
  transform: skew(45deg);
  right: -15px;
}

.section-padding {
  padding: 6em 2em;
}

.section-header {
  font-family: "Chivo", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  padding-top: 1em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: #f1f0de;
}

.hr {
  background-color: rgb(103, 172, 91);
  height: 3px;
  width: 100px;
  margin-bottom: 15px;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Chivo", sans-serif;
  z-index: 999;
}
.nav-mobile .burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.nav-mobile .burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.nav-mobile .burger-btn__bars, .nav-mobile .burger-btn__bars::after, .nav-mobile .burger-btn__bars::before {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #FFF;
  right: 0;
}
.nav-mobile .burger-btn__bars {
  width: 100%;
}
.nav-mobile .burger-btn__bars::after {
  width: 100%;
  top: 12px;
}
.nav-mobile .burger-btn__bars::before {
  width: 100%;
  top: 24px;
}
.nav-mobile__list {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  transform: translateX(100%);
  background-color: rgb(53, 53, 53);
  transition: transform 0.5s;
}
.nav-mobile__list--active {
  transform: translateX(0);
}
.nav-mobile__item {
  position: relative;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
}
.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-desktop__logo {
  position: relative;
  display: flex;
  font-size: 2.5rem;
  padding: 0.5em 0 0.4em 0;
  font-family: "Kalam", cursive;
  color: rgb(103, 172, 91);
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.5em;
}
.nav-desktop__logo .fa-paper-plane {
  margin: 0 0.5em;
}
.nav-desktop__logo::after, .nav-desktop__logo::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 40%;
  background-color: rgb(103, 172, 91);
  left: 50%;
  transform: translateX(-50%);
}
.nav-desktop__logo::before {
  top: 0;
}
.nav-desktop__logo::after {
  bottom: 0;
}
.nav-desktop__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-desktop__item {
  position: relative;
  margin: 0.5em 0;
  padding: 0.2em 1em;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
}
.nav-desktop__item::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background-color: rgb(103, 172, 91);
  bottom: 0;
  left: 0;
  transition: transform 0.3s;
  transform-origin: right;
  transform: scaleX(0);
}
.nav-desktop__item:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.nav-desktop__item:focus {
  outline: none;
}
.nav-desktop__item:focus::after {
  transform-origin: left;
  transform: scaleX(1);
}

.header {
  position: relative;
  overflow: hidden;
  height: 92vh;
  width: 100%;
  background-image: url("../img/food-2879265_640.jpg");
  background-position: center;
  background-size: cover;
}
.header .image-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 53, 53, 0.8);
  z-index: 10;
}
.header .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 70px repeat(3, 1fr);
  height: 100%;
}
.header__logo {
  grid-column: 1/-2;
  grid-row: 1/2;
  display: flex;
  z-index: 11;
}
.header__logo .logo {
  position: relative;
  display: flex;
  font-size: 2.5rem;
  padding: 0.5em 0 0.4em 0;
  font-family: "Kalam", cursive;
  color: rgb(103, 172, 91);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  margin: 1.2em 0 0 1em;
}
.header__logo .logo .fa-paper-plane {
  margin: 0 0.5em;
}
.header__logo .logo::after, .header__logo .logo::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 40%;
  background-color: rgb(103, 172, 91);
  left: 50%;
  transform: translateX(-50%);
}
.header__logo .logo::before {
  top: 0;
}
.header__logo .logo::after {
  bottom: 0;
}
.header__logo .logo .fa-paper-plane {
  margin: 0 0.5em;
  transform: translateY(10%);
}
.header__imgs {
  grid-column: 1/-1;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-top: 1em;
  z-index: 11;
}
.header__imgs-img__one {
  grid-column: 1/5;
  grid-row: 1/3;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 5px 8px 8px black;
}
.header__imgs-img__two {
  grid-column: 4/8;
  grid-row: 2/4;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 5px 8px 8px black;
}
.header__menu {
  grid-column: 1/-1;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Chivo", sans-serif;
  z-index: 11;
}
.header__menu-text {
  font-size: 2rem;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: #FFF;
}
.header__menu-text:nth-child(2) {
  margin-bottom: 0.1em;
}
.header__menu-btn {
  font-size: 2rem;
  padding: 0.8em 2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: 1px solid transparent;
  background-color: rgb(103, 172, 91);
  color: #f1f0de;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.header__menu-btn:focus {
  outline: none;
  background-color: #f1f0de;
  color: rgb(103, 172, 91);
}
.header__menu-btn:hover {
  background-color: #f1f0de;
  color: rgb(103, 172, 91);
}

.location {
  overflow: hidden;
}
.location .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 19em;
  height: 25em;
}
.location__info i {
  color: rgb(103, 172, 91);
  font-size: 4rem;
}
.location__info-location {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: 1em;
}
.location__info-location-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11.5em;
}
.location__info-time {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: 2em;
}
.location__info-time-info {
  display: flex;
  flex-direction: column;
}
.location__info-time-box {
  display: flex;
  justify-content: space-between;
  width: 13em;
}
.location__info-text {
  font-family: "Rajdhani", sans-serif;
  color: rgb(53, 53, 53);
  font-size: 1.9rem;
}
.location__map {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 25em;
}
.location__map iframe {
  width: 100%;
  height: 25em;
}

.contact {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-image: url("../img/brick-wall-1834784_1920.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.contact .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .image-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 53, 53, 0.6);
  z-index: 10;
}
.contact__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}
.contact__title .section-header {
  padding-top: 0;
  color: #FFF;
}
.contact__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}
.contact__box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
  font-size: 2rem;
  color: #FFF;
}
.contact__box i {
  color: rgb(103, 172, 91);
  font-size: 3rem;
}
.contact__box .fa-square-facebook {
  font-size: 4rem;
}
.contact__box-text {
  padding: 1em;
  font-weight: bold;
}

.opinions {
  overflow: hidden;
}
.opinions .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opinions__text {
  display: flex;
  justify-content: end;
  width: 100%;
  font-family: "Rajdhani", sans-serif;
  color: rgb(53, 53, 53);
  font-size: 2rem;
}
.opinions__text a {
  color: rgb(53, 53, 53);
  transition: color 0.3s;
}
.opinions__text a:hover {
  color: rgb(103, 172, 91);
}
.opinions__boxes {
  padding: 5em;
  display: flex;
}
.opinions__box {
  position: relative;
  transition: transform 0.3s;
  margin: 1em;
}
.opinions__box-img {
  position: absolute;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
}
.opinions__box-container {
  display: flex;
  flex-direction: column;
  width: 15em;
  height: 15em;
  padding: 1em;
  padding-top: 3em;
  box-shadow: 8px 8px 8px 5px rgb(53, 53, 53);
  font-family: "Rajdhani", sans-serif;
  color: rgb(53, 53, 53);
}
.opinions__box-container .fa-quote-left {
  display: flex;
  justify-content: end;
  transform: rotate(180deg);
  color: rgb(103, 172, 91);
  font-size: 2.5rem;
}
.opinions__box-container-text {
  font-size: 1.8rem;
}
.opinions__box-container-name {
  padding: 0.5em 0;
  font-size: 2rem;
  font-weight: bold;
}
.opinions__box-container-stars {
  display: flex;
  justify-content: end;
  color: rgb(222, 219, 33);
}
.opinions__box:hover {
  transform: scale(0.95);
}

.footer {
  position: relative;
  padding: 4em 0 2em 0;
  overflow: hidden;
  background-color: rgb(53, 53, 53);
  color: #f1f0de;
  font-family: "Chivo", sans-serif;
}
.footer .wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 576px) {
  .cream-block {
    width: 25%;
  }
  .section-header {
    font-size: 2.5rem;
  }
  .nav-desktop {
    display: none;
  }
  .header .wrapper {
    grid-template-rows: 89px repeat(3, 1fr);
  }
  .header__logo .logo {
    font-size: 2.5rem;
  }
  .header__imgs {
    padding-top: 2em;
  }
  .header__imgs-img__one {
    grid-column: 2/5;
    height: 300px;
  }
  .header__imgs-img__two {
    grid-column: 4/7;
    height: 300px;
  }
  .header__menu-text {
    font-size: 2.5rem;
  }
  .header__menu-btn {
    font-size: 2.5rem;
  }
  .location__info {
    width: 25em;
    background-color: #FFF;
    box-shadow: 5px 5px 5px rgb(53, 53, 53);
  }
  .location__map {
    width: 25em;
    box-shadow: 5px 5px 5px rgb(53, 53, 53);
  }
  .location__map iframe {
    width: 25em;
  }
}
@media (min-width: 768px) {
  .cream-block {
    height: 30px;
  }
  .header {
    height: 95vh;
    background-image: url("../img/food-2879265_1920.jpg");
  }
  .header__imgs-img__one {
    height: 350px;
  }
  .header__imgs-img__two {
    height: 350px;
  }
  .contact__box {
    font-size: 2.8rem;
  }
  .contact__box i {
    font-size: 3.2rem;
  }
  .contact__box .fa-square-facebook {
    font-size: 4.2rem;
  }
  .opinions__box-img {
    left: 30%;
  }
  .opinions__box-container {
    width: 25em;
    padding: 2em;
    padding-top: 3.5em;
  }
  .opinions__box-container .fa-quote-left {
    font-size: 3.5rem;
  }
  .opinions__box-container-text {
    font-size: 2rem;
  }
  .opinions__box-container-name {
    font-size: 2.2rem;
  }
  .opinions__box-container-stars {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .section-header {
    font-size: 2.8rem;
  }
  .nav {
    background-color: rgba(53, 53, 53, 0.8);
  }
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: flex;
  }
  .cream-block {
    height: 30px;
  }
  .header__logo {
    grid-column: 3/5;
    grid-row: 2/3;
    align-items: start;
    justify-content: center;
    padding: 2em;
  }
  .header__logo .logo {
    font-size: 3rem;
  }
  .header__imgs-img__one {
    height: 350px;
  }
  .header__imgs-img__two {
    height: 350px;
  }
  .header__menu-text {
    font-size: 2.8rem;
  }
  .header__menu-btn {
    font-size: 2.8rem;
  }
  .location .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .contact__boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .contact__box {
    font-size: 3.5rem;
  }
  .contact__box i {
    font-size: 3.5rem;
  }
  .contact__box .fa-square-facebook {
    font-size: 5rem;
  }
  .opinions__box-img {
    left: 30%;
  }
  .opinions__box-container {
    width: 30em;
    height: 17em;
    padding-top: 3.5em;
  }
  .opinions__box-container .fa-quote-left {
    font-size: 3.8rem;
  }
  .opinions__box-container-text {
    font-size: 2.3rem;
  }
  .opinions__box-container-name {
    font-size: 2.5rem;
  }
  .opinions__box-container-stars {
    font-size: 2.3rem;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    justify-content: end;
  }
  .header__logo .logo {
    font-size: 3.5rem;
  }
  .location__info {
    width: 30em;
    height: 30em;
  }
  .location__info-text {
    font-family: "Rajdhani", sans-serif;
    color: rgb(53, 53, 53);
    font-size: 2rem;
  }
  .location__info i {
    color: rgb(103, 172, 91);
    font-size: 4.5rem;
  }
  .location__map {
    width: 30em;
    height: 30em;
  }
  .location__map iframe {
    width: 30em;
    height: 30em;
  }
  .contact__box .fa-square-facebook {
    margin-left: 0.7em;
  }
}/*# sourceMappingURL=main.css.map */