@use '_colors' as *;
@use '_components' as *;
@use '_animations' as *;
@use '_mixins' as *;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    background-color: $cream;
}

.hr{
    background-color: $mainColor;
    height: 3px;
    width: 100px;
    margin-bottom: 15px;
}

// ---------------- NAV ---------------- 

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Chivo', sans-serif;
    z-index: 999;

    &-mobile{
        .burger-btn{
            position: fixed;
            top: 20px;
            right: 20px;
            padding: 1em;
            background: none;
            border: 1px solid transparent;
            cursor: pointer;
            z-index: 1000;

            &__box{
                position: relative;
                width: 40px;
                height: 30px;
            }

            &__bars,
            &__bars::after,
            &__bars::before{
                @include burgerBtn;
            }

            &__bars{
                width: 100%;
            }

            &__bars::after{
                width: 100%;
                top: 12px;
            }

            &__bars::before{
                width: 100%;
                top: 24px;
            }
        }

        &__list{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            transform: translateX(100%);
            background-color: $dark;
            transition: transform .5s;
        }

        &__list--active{
            transform: translateX(0);
        }

        &__item{
            position: relative;
            margin: 0.5em 0;
            padding: 0.5em 2em;
            font-size: 2.5rem;
            text-transform: uppercase;
            text-decoration: none;
            color: $white;

        }
    }

    &-desktop{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo{
            @include logo;
            margin: 0.5em;
        }
        

        &__list{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__item{
            position: relative;
            margin: 0.5em 0;
            padding: 0.2em 1em;
            font-size: 2rem;
            text-transform: uppercase;
            text-decoration: none;
            color: $white;

            &::after{
                position: absolute;
                content: "";
                height: 3px;
                width: 100%;
                background-color: $mainColor;
                bottom: 0;
                left: 0;
                transition: transform .3s;
                transform-origin: right;
                transform: scaleX(0);
            }

            &:hover::after{
                transform-origin: left;
                transform: scaleX(1);
            }

            &:focus{
                outline: none;
            }

            &:focus::after{
                transform-origin: left;
                transform: scaleX(1);
            }
        }
    }
}

// ---------------- HEADER ---------------- 

.header{
    position: relative;
    overflow: hidden;
    height: 92vh;
    width: 100%;
    //background-color: $dark;
    background-image: url('../img/food-2879265_640.jpg');
    background-position: center;
    background-size: cover;

    .image-shadow{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $dark, $alpha: 0.8);
        z-index: 10;
    }

    .wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 70px repeat(3, 1fr);
        height: 100%;
    }

    &__logo{
        grid-column: 1/-2;
        grid-row: 1/2;
        display: flex;
        z-index: 11;

        .logo{
            @include logo;
            font-size: 2rem;
            margin: 1.2em 0 0 1em;

            .fa-paper-plane{
                margin: 0 0.5em;
                transform: translateY(10%);
            }
        }

    }

    &__imgs{
        grid-column: 1/-1;
        grid-row: 2/4;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding-top: 1em;
        z-index: 11;

        &-img__one{
            grid-column: 1/5;
            grid-row: 1/3;
            @include headerImg;
        }

        &-img__two{
            grid-column: 4/8;
            grid-row: 2/4;
            @include headerImg;
        }

    }

    &__menu{
        grid-column: 1/-1;
        grid-row: 4/5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Chivo', sans-serif;
        z-index: 11;
        
        &-text{
            font-size: 2rem;
            margin-bottom: 0.5em;
            text-transform: uppercase;
            color: $white;

            &:nth-child(2){
                margin-bottom: 0.1em;
            }
        }

        &-btn{
            font-size: 2rem;
            padding: 0.8em 2em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            background: none;
            border: 1px solid transparent;
            background-color: $mainColor;
            color: $cream;
            cursor: pointer;
            transition: background-color .3s, color .3s;

            &:focus{
                outline: none;
                background-color: $cream;
                color: $mainColor;
            }

            &:hover{
                background-color: $cream;
                color: $mainColor;
            }
        }

    }
}

// ---------------- MAIN ---------------- 

// ================ LOCATION ================ 

.location{

    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 19em;
        height: 25em;

        i{
            color: $mainColor;
            font-size: 4rem;
        }

        &-location{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-around;
            margin-top: 1em;

            &-info{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 11.5em;
            }
        }

        &-time{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-around;
            margin-top: 2em;

            &-info{
                display: flex;
                flex-direction: column;
            }

            &-box{
                display: flex;
                justify-content: space-between;
                width: 13em;
            }
        }

        &-text{
            font-family: 'Rajdhani', sans-serif;
            color: $dark;
            font-size: 1.9rem;
        }
    }

    &__map{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 25em;

        iframe{
            width: 100%;
            height: 25em;
        }
    }
}

// ================ CONTACT ================ 

.contact{
    position: relative;
    overflow: hidden;
    width: 100%;
    background-image: url('../img/brick-wall-1834784_1920.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;


    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-shadow{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $dark, $alpha: 0.6);
        z-index: 10;
    }

    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100;

        .section-header{
            padding-top: 0;
            color: $white;
        }
    }

    &__boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100;
    }

    &__box{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Rajdhani', sans-serif;
        font-size: 2rem;
        color: $white;

        i{
            color: $mainColor;
            font-size: 3rem;
        }

        .fa-square-facebook{
            font-size: 4rem;
        }

        &-text{
            padding: 1em;
            font-weight: bold;
        }
    }
}
// ================ OPINIONS ================

.opinions{
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text{
        display: flex;
        justify-content: end;
        width: 100%;
        font-family: 'Rajdhani', sans-serif;
        color: $dark;
        font-size: 2rem;

        a{
            color: $dark;
            transition: color .3s;

            &:hover{
                color: $mainColor;
            }
        }
    }

    &__boxes{
        padding: 5em;
        display: flex;
    }

    &__box{
        
        position: relative;
        transition: transform .3s;
        margin: 1em;

        &-img{
            position: absolute;
            width: 100px;
            height: 100px;
            object-fit: cover;
            left: 50%;
            transform: translateX(-50%);
            top: -50px;
        }

        &-container{
            display: flex;
            flex-direction: column;
            width: 15em;
            height: 15em;
            padding: 1em;
            padding-top: 3em;
            box-shadow: 8px 8px 8px 5px $dark;
            font-family: 'Rajdhani', sans-serif;
            color: $dark;

            .fa-quote-left{
                display: flex;
                justify-content: end;
                transform: rotate(180deg);
                color: $mainColor;
                font-size: 2.5rem;
            }

            &-text{
                font-size: 1.8rem;
            }

            &-name{
                padding: 0.5em 0;
                font-size: 2rem;
                font-weight: bold;
            }

            &-stars{
                display: flex;
                justify-content: end;
                color: $gold;
            }
        }

        &:hover{
            transform: scale(.95);
        }
    }
}


// ---------------- FOOTER---------------- 

.footer{
    position: relative;
    padding: 4em 0 2em 0;
    overflow: hidden;
    background-color: $dark;
    color: $cream;
    font-family: 'Chivo', sans-serif;

    .wrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}




@import '_small';
@import '_medium';
@import '_large';